.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: rgba(247, 247, 247, 0.788);
}

.footer{
  margin-top:2%;
  box-shadow:0 1px 2px rgba(0,0,0,0.25);
  width:auto;
  height:100%;
  background:rgba(255,255,255);
  padding:1% 2%;
  display:flex;
  flex-direction:row;
}

.footer p{
  padding:2%;
  font-size:small;
}

.itemCard{
  display:inline-flex;
  flex-direction: column;
}
.itemCard{
  margin-top:4em;
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin-left: 2%;
  width: 22%;
  color: #333;
  box-shadow:0 1px 2px rgba(0,0,0,0.25)
}

.itemCard{
  min-height:850px;
}

/*think about adding a dropdown for text overflow*/

.nav{
  box-shadow:0 1px 2px rgba(0,0,0,0.25);
  width:auto;
  height:100%;
  background:rgba(255,255,255);
  padding:1% 2%;
}

.navbtn{
  margin:3%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border:none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 15px;
}
.navbtn:hover{
  transition: 0.5s;
  transform: translateY(-0.30em);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor:pointer;
  color:orange;
}

#navSearch{
  width:400px;
  font-size:25px;
  border-radius:3px;
  border:1px solid grey;
}

#navImg{
  padding:none;
  width:5em;
  justify-content:left;
  margin-right:100%;

}

.trolleybtn{
  margin:3%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border:none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 15px;
  font-size:small;
  border:1px solid rgba(128, 128, 128, 0.212);
}

.trolleybtn:hover{
  transition: 0.5s;
  transform: translateY(-0.30em);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor:pointer;
  color:orange;
}